a.text-dark.text-decoration-none.home {
    margin-left: 83%;
    position: absolute;
    margin-top: 2%;
    font-size: 20px;
    border-bottom: 2px solid #e20000;
}
.first-header {
    color: #e20000;
    font-size: 3.5rem;
    font-weight: 700 !important;
    font-family: 'Hind Siliguri', sans-serif;
    padding-top: 3rem;
} 
.signup-a{
    margin: 11rem 2rem 0 0 ;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.signup-a a{
    background-color: #ad0000;
    color: #fff;
    margin-top: 1rem;
    border-radius: 5px;
    width: 350px;
    border-radius: 26px;
  
}
.sign-whom{
    font-size: 3rem;
    font-weight: 500;
    margin-top: 1rem;
}
.row div {
    margin-top: -5rem;
}